header {
    background-color: skyblue;
    
}
header ul {
    margin-bottom: 0px;
}
header ul li{
    list-style-type: none;
    display: inline-block;
    padding : 20px;
    margin-left: 10%
    
}

header ul li a {
    color : white;
    text-decoration: none;
}

.nav-bar {
    margin-top: 0px;
    background-color: wheat;
    margin-right: 80%;
    
}

.nav-bar ul {
    margin-top : 0px;
    padding-inline-start: 0px;
}
.nav-bar li{
    list-style-type: none;
    padding: 10px 10px;
}
.nav-bar li a{
    text-decoration: none;
    color : rgb(12, 11, 11);
}

.nav-bar li:hover{
background-color: black;
}

.nav-bar li:hover a{
    color : white;
}


#btn1{
    background-color: red;
    padding: 20px;
    font-size: 20px;
    border-radius: 10%;
    border : none
}

#menu_content a{
    text-decoration: none;
    background-color: wheat;
    color: black;
    display: block;
    margin-right: 87%;
}

/* #dropdown_menu:hover #btn1{
    background-color: black;
    color: white;
} */

#dropdown_menu:hover #btn1{
    background-color: black;
    color: white;
}

#menu_content{
    display: none;
}


#dropdown_menu:hover #menu_content {
    display: block;
    font-size: 15px;
}

#menu_content a:hover{
    background-color: red;
    color : white;
    font-size: 20px;
}

/* #btn1{
    background-color: lightskyblue;
    color: black;
    padding:16px;
    font-size:16px;
    border:none;
    cursor: pointer;
    border-radius: 10%;
}

#dropdown_menu:hover #btn1{
    background-color: black;
    color: white;
}

#dropdown_menu{
    position: relative;
    display: inline-block;
}

#menu_content{
    display: none;
    position: absolute;
    background-color: wheat;
    width: 160px;
}

#menu_content a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display: block;
}

#menu_content a:hover{
    background-color: yellow;
}

#dropdown_menu:hover #menu_content{
    display: block;
} */





